<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="/viewstyle.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="https://icons.veryicon.com/png/o/business/colorful-office-icons/book-52.png" type="image/icon type">
    <script src="files.js" ></script>    
    <script src="login.js" ></script>
    <script src="subjects.js" ></script>
    
  </head>